body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.material {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.material h2 {
    margin-top: 0;
}

.btn-regresar {
    background-color: steelblue;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

.btn-regresar:hover {
    background-color: #36648b;
}

footer {
    background-color: rgba(70, 130, 180, 0.9); /* steelblue con opacidad */
    padding: 1em 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    color: #fff;
    font-size: 0.9em;
}